.env
/.env
playground.py
.idea/
code/__pycache__/
code/quant_core/quant_core/__pycache__/
code/quant_core/quant_core/clients/__pycache__/
code/quant_core/quant_core/clients/ig/__pycache__/
code/quant_core/quant_core/entities/__pycache__/
code/quant_core/quant_core/enums/__pycache__/
code/quant_core/quant_core/settings/__pycache__/
code/quant_core/quant_core/utils/__pycache__/
code/quant_dev/build/
code/quant_dev/quant_dev.egg-info/
infrastructure/manual/.terraform/
infrastructure/manual/terraform.tfstate.backup
infrastructure/modules/technical/lambda/.terraform.lock.hcl
infrastructure/modules/technical/lambda/.terraform/
strategies/*
/code/app/logs/app.log
**__pycache__**
logs/**
cache.db
